{% load rest_framework %} {% load common_function %} {% load static %}
<style>
.items_table {
    max-height:400px;
}

</style>
<div class="col-sm-9">
<div class="table-responsive items_table">
 
	<table class="table">
		<tr>
			<th>S.No</th>
			<th>Item Name</th>
			
			<th>Qty</th>
			<th>Rate</th>
			<th>Amount</th>
			<th style="text-align:center">Discount</th>
			
			<th>Tax %</th>
			<th>Tax Amount</th>
			<th>Net Amount</th>
			<th>Action</th>
		</tr>
		{% for lists_val in data %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{% show_single_field tableName="ERP_item" show_field_name="name" pk=lists_val.item_id as list_dorp %}
					{{list_dorp}}- {% show_single_field tableName="ERP_item" show_field_name="item_code" pk=lists_val.item_id as list_dorp %}
					{{list_dorp}}</td>
			
			<td>{{lists_val.qty}}</td>
			<td>{{lists_val.rate}}</td>
			<td>{{lists_val.bill_amount}}</td>
			<td>
			<div class="col-sm-12">
			<div class="col-sm-6">
			<input type="text" class="form-control"
					id="invoice_discount" name="invoice_discount"
					value="" placeholder="%">
			</div><div class="col-sm-6">
			<input type="text" class="form-control"
					id="invoice_discount" name="invoice_discount"
					value="" placeholder="Value">
			</div>
			<div class="col-sm-6"><br><input type="text" class="form-control"
					id="invoice_discount" name="invoice_discount"
					value="{{basic_data.discount}}" placeholder="Enter Discount Amount"></div>
			<div class="col-sm-6"><br><button type="submit" class="btn btn-warning"
										id="submit_frm">Apply</button></div>
			</div>
			</td>
			<td>
			{% show_single_field tableName="ERP_taxgroup" show_field_name="name" pk=lists_val.taxgroup_id as list_dorp %}
			{{list_dorp}}</td>
			<td>{{lists_val.tax_amount}}</td>
			<td>{{lists_val.net_amount}}</td>
			<td>
			<a href="javascript:void(0)"
					onclick="return  items_delete({{lists_val.id}});"><i
						class="fa fa-trash"></i></a>
			<a href="javascript:void(0)"
					onclick="return  items_delete({{lists_val.id}});"><i
						class="fa fa-edit"></i></a>			
			</td>
		</tr>
		{% endfor %}
	</table>

	
			
</div>
</div><div class="col-sm-3 vl">
								<div class="col-sm-12">
									<table class="table">
										<tr>
											<th>Total Amount</th>
											<td>:</td>
											<td>{{basic_data.bill_amount}}</td>
										</tr>

										<tr>
											<th>Item Discount Amount</th>
											<td>:</td>
											<td>{{basic_data.item_discount}}</td>
										</tr>
										<tr>
											<th> Discount Amount</th>
											<td>:</td>
											<td><input type="text"
											class="form-control" id="invoice_discount" name="invoice_discount"
											value="{{basic_data.discount}}" placeholder="Enter Discount Amount">
											
							
								
								
								<input type="hidden"
											class="form-control" id="total_bill_amount" name="total_bill_amount"
											value="{{basic_data.bill_amount}}" placeholder="Enter Discount Amount">
											
								<input type="hidden"
											class="form-control" id="total_item_discount" name="total_item_discount"
											value="{{basic_data.item_discount}}" placeholder="Enter Discount Amount">
											
								<input type="hidden"
											class="form-control" id="total_tax_amount" name="total_tax_amount"
											value="{{basic_data.tax_amount}}" placeholder="Enter Discount Amount">
											
											
								<input type="hidden"
											class="form-control" id="total_net_amount" name="total_net_amount"
											value="{{basic_data.net_amount}}" placeholder="Enter Discount Amount">
											
											
													<input type="hidden"
											class="form-control" id="new_tax_amount" name="new_tax_amount"
											value="" placeholder="Enter Discount Amount">
											
											<input type="hidden"
											class="form-control" id="new_net_amount" name="new_net_amount"
											value="" placeholder="Enter Discount Amount">
											
											<input type="hidden"
											class="form-control" id="berfore_tax" name="berfore_tax"
											value="" placeholder="Enter Discount Amount"></td>
										</tr>
										
										<tr>
										
											<th>Tax Amount</th>
											<td>:</td>
											<td><div id="tax_div">{{basic_data.tax_amount}}</div></td>
										</tr>

										<tr>
											<th>Net Amount</th>
											<td>:</td>
											<td><div id="nettotal_div">{{basic_data.net_amount}}</div></td>
										</tr>
									</table>
								</div>
								<div class="col-sm-12" style="margin-top: 10%;">
									<div class="col-sm-6">
										<button type="submit" class="btn btn-success btn_sales "
											id="submit_frm">Pay (F1) 	</button>
									</div>
									<div class="col-sm-6">
										<button type="submit" class="btn btn-primary btn_sales"
											id="submit_frm">Save (F2)</button>
									</div>
								</div>
								<div class="col-sm-12" style="margin-top: 10%;">
								<div class="col-sm-6">
									<button type="submit" class="btn btn-warning btn_sales"
										id="submit_frm">Credit (F3)</button>
								</div>
								<div class="col-sm-6">
									<button type="submit" class="btn btn-default btn_sales"
										id="submit_frm">Reset </button>
								</div>
								{% if data.id %}	
									<input type="text" name="action" id="action" style="display:none;" value="2">
									{% else %}
									<input type="text" name="action" id="action" style="display:none;" value="1">
									{% endif %}	
								</div>
							</div>




<script>
								$("#invoice_discount").keyup(function(){
									    
									
									invoice_discount=$("#invoice_discount").val();
									if(invoice_discount>0)
									{
							 		item_discount=$("#total_item_discount").val();
							 		bill_amount=$("#total_bill_amount").val();
							 		tax_amount=$("#total_tax_amount").val();
							 		net_amount=$("#total_net_amount").val();
							 		before_tax=parseFloat(bill_amount)-parseFloat(item_discount);
							 		$("#berfore_tax").val(berfore_tax);
							 		$("#berfore_tax").val(berfore_tax);
							 		
							 		new_tax_reduce=(parseFloat(tax_amount)/parseFloat(before_tax))*invoice_discount;
							 		new_net_amount=parseFloat(net_amount)-parseFloat(invoice_discount);
							 		new_tax_amount=parseFloat(tax_amount)-parseFloat(new_tax_reduce);
							 		
							 		$("#tax_div").html(new_tax_amount);
							 		
							 		$("#nettotal_div").html(new_net_amount);
							 		new_tax_amount=$("#new_tax_amount").val(new_tax_amount);
									new_tax_amount=$("#new_net_amount").val(new_net_amount);
									}
									
									});
								</script>